<appSettings>
 <add key="idioma" value="spanish" />
 <add key="Desde" value="02/01/2017" />
 <add key="Hasta" value="17/01/2017" />
 <add key="DesdeSuper" value="04/01/2017" />
 <add key="HastaSuper" value="31/01/2017" />
 <add key="ambiente" value="sitioweb" />
 <!--<add key="cadena" value="Data Source=ChavoPC\SQLEXPRESS;Database=DesempenoBD;User Id=celistics;Password=celistics.net" />-->
  <add key="cadena" value="Data Source=(localdb)\ProjectsV13;Database=EvaluacionBD;User Id=eval;Password=evaluacion.net" />
 <add key="LDAP" value="" />
 <add key="Dominio" value="ddpi" />
 <add key="EnviarMensajes" value="SI" />
 <add key="SMTP" value="ca4.toservers.com" />
 <add key="Remitente" value="Desempeño Demo" />
 <add key="emailRemitente" value="evaluacion@evaluaciontest.tk" />
 <add key="Contrasena" value="Evaluaciones.net" />
 <add key="Puerto" value="465" />
 <add key="EnableSsl" value="SI" />
 <add key="pathTextos" value="/TemplateHTML" />
</appSettings>
