<appSettings>
 <add key="idioma" value="spanish" />
 <add key="Desde" value="02/01/2017" />
 <add key="Hasta" value="17/01/2017" />
 <add key="DesdeSuper" value="04/01/2017" />
 <add key="HastaSuper" value="31/01/2017" />
 <add key="ambiente" value="sitioweb" />
 <!--<add key="cadena" value="Data Source=ChavoPC\SQLEXPRESS;Database=DesempenoBD;User Id=celistics;Password=celistics.net" />-->
  <add key="cadena" value="Data Source=krypto;Database=prueba;User Id=sa;Password=rocamora" />
 <add key="LDAP" value="" />
 <add key="Dominio" value="ddpi" />
 <add key="EnviarMensajes" value="SI" />
 <add key="SMTP" value="Smtp.Gmail.com" />
 <add key="Remitente" value="Desempeño Demo 2016" />
 <add key="emailRemitente" value="sergiodellocchio@gmail.com" />
 <add key="Contrasena" value="2 de mayo" />
 <add key="Puerto" value="587" />
 <add key="EnableSsl" value="SI" />
 <add key="pathTextos" value="/TemplateHTML" />
</appSettings>
