<appSettings>
 <add key="idioma" value="spanish" />
 <add key="Desde" value="14/12/2016" />
 <add key="Hasta" value="31/12/2016" />
 <add key="DesdeSuper" value="30/12/2016" />
 <add key="HastaSuper" value="31/1/2017" />
 <add key="ambiente" value="sitioweb" />
 <add key="cadena" value="Data Source=ChavoPC\SQLEXPRESS;Database=EvaluacionCelistics;User Id=celistics;Password=celistics.net" />
 <add key="LDAP" value="" />
</appSettings>
