<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings configSource="parametros.config"/>
  <system.web>
   <globalization responseHeaderEncoding="Windows-1252" culture="es-ES"/>
    <compilation targetFramework="4.0" debug="true"/>
    <authentication mode="Forms">
      <forms loginUrl="logon.aspx" name="adAuthCookie" timeout="10" path="/"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
</configuration>
<!--ProjectGuid: {3119460c-cd87-4151-8600-e3b02c0d7c2d}-->